*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: url(./assets/backgroundHome.jpeg);
    background-position: center;
    background-repeat: no-repeat;
}
.tool-bar{
    backdrop-filter: blur(5px) 
    saturate(70%);
    background-color: rgba(163, 83, 83, 0.5);
    padding: 10px;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 100%;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.logo{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-right: 3%;
}
.logo h3{
    font-weight: 900;
}

.logo .top-menu{
    display: flex;
    justify-content: flex-end;
}

.top-menu ul{
    display: inline-flex;
    max-width: 100%;
    max-height: 100%;
}
.top-menu ul li a{
    max-width: 75%;
    display: inline;
    text-align: center;
    list-style: none;
    text-decoration: none;
    max-width: 100%;
    max-height: 100%;
}

.top-menu ul li a{
    text-decoration: none;
    color: #fff;
}
.top-menu ul li a:hover{
    color: black;
    box-shadow: rgba(255,255,255,.2);
    text-decoration: solid;
}

.top-menu ul li{
    display: inline;
    padding: 2%;   
    font-size: 20px;
}
.home-cointainer{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 85vh;
    align-content: flex-end;
}
.home-content{
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    color: black;
    font-weight: 900;
    text-align: center;
    
}
.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(5px);

}
.tag-line{
    text-align: 200;
}
button{
    padding:2px;
    margin-top: 20px;
    border-radius:5%;
    background-color: black;
    color: white;
    height: 25px;
    width:100px
}
button:hover{
    background-color: rgb(20, 208, 145);
    color: black;
}

.button button a{
    text-decoration: none;
    color: white;
}
