<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grabit - Login</title>
    <link rel="stylesheet" href="../public/css/farmer_login.css">
</head>
<body>
    <div class="tool-bar">
        <div class="logo">
            <h1 style="color: white;">Grabit</h1>
            <div class="top-menu">
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./farmers_market.html">Market</a></li>
                    <li><a href="./my_account.html">Account</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="heading">
        <h2>FARMER LOGIN PANEL</h2>
    </div>
    <div class="content-box">
        <div class="image-icon">
            <img src="../public/assets/farmer register image.jpg" alt="Customer logo">
        </div>
        <% if (messages.error) { %>
            <div class="error-message"><%= messages.error %></div>
        <% } %>
        <form class="login-form" action="/farmer_login" method="post">
            <div class="set-inputs">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="set-inputs">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <div class="submit">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</body>
</html>
