<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grabit - Purchase</title>
    <link rel="stylesheet" href="purchase.css">
</head>
<body>
    <div class="tool-bar">
        <div class="logo">
            <h1 style="color: white;">Grabit</h1>
            <div class="top-menu">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="farmers_market.html">Market</a></li>
                    <li><a href="my_account.html">Account</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <form class="purchase-form-details">
        <div class="purchase-form">
            <div class="title">
                <h2>View Purchase Request Details</h2>
            </div>
            <div class="content">
                <div class="input-box">
                    <label for="Hello"> Quantity:(in KG)</label>
                    <input type="number" name="quantity">
                </div>
                <div class="input-box">
                    <label for="Price">Price:</label>
                    <input type="number" name="price">
                </div>
            </div>
        </div>
    </form>
</body>
</html>