*{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
}
.tool-bar{
   background-color: #9db061;
   padding: 10px;
}

body{
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
   max-height: 100%;
   max-width: 100%;
   /* background-image: url(./assets/background1.jpg); */
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

/* For Logo */
.logo{
   display: flex;
   justify-content: space-between;
   padding: 10px;
   margin-right: 3%;
}
.logo h3{
   font-weight: 900;
}

/* For Logo && Top-Menu */
.logo .top-menu{
   display: flex;
   justify-content: flex-end;
}

/* For Top-Menu */
.top-menu ul{
   display: inline-flex;
   max-width: 100%;
   max-height: 100%;
}
.top-menu ul li a{
   max-width: 75%;
   display: inline;
   text-align: center;
   list-style: none;
   text-decoration: none;
   max-width: 100%;
   max-height: 100%;
}

.top-menu ul li a{
   text-decoration: none;
   color: #fff;
}

.top-menu ul li a:hover{
   color: black;
   box-shadow: rgba(255,255,255,.2);
   /* text-decoration: solid; */
}

.top-menu ul li{
   display: inline-flex;
   justify-content: space-between;
   padding: 3%;   
   font-size: 20px;
}

/* For Heading Centered (ALL ITEMS) */
.centered-heading {
   text-align: center;
   margin: 40px 0; 
}
.centered-heading h1 {
   color: #02823c; 
   background-color: #baeace;
   padding: 20px; 
   border-radius: 20px; 
   display: inline-block;
   font-size: 24px;
}


/* For 3 Boxes(Select States Box , Select Districts Box, Search Button Box) */
.boxes-container {
   display: flex;
   justify-content: space-between;
   margin: 20px 8%;  /* 10% Gives Space from Extreme Left & Right */
}

.box {
   flex: 1;
   padding: 15px;
   border: 1px solid #ddd; 
   border-radius: 10px; 
   margin: 0 10px;
   max-width: 100%-50px;
}

.box select:hover{
   cursor: pointer;
}
label {
   display: block;
   margin-bottom: 5px;
}

#state{
   border-radius: 10px;
   padding: 8px;
}

#city{
   border-radius: 10px;
   padding: 8px;
   max-width: 200px;
}

.search-box{
   display: flex;
   max-width: 100%;
   justify-content: space-around;
   padding: 5px;
}

.search-box button{
   padding: 10px;
   border-radius: 10px;
}

.search-box button:hover{
   cursor: pointer;
}